.top {
	height: 35px
}
.mid {
	height: 30px
}
.mid2 {
	height: 100px
}
.mid3 {
	height: 40px
}
.mid2_1 {
	height: 30px
}
.mid_1 {
	height: 20px
}
.mid2_1_1 {
	height: 20px
}
.mid4 {
	height: 20px
}
.right {
	height: 90px
}